/* Mise en forme du texte */


@font-face {
	font-family: 'learningcurvepro';
	src: url('font/learningcurvepro/LearningCurve_OT-webfont.eot')
	src: url('font/learningcurvepro/LearningCurve_OT-webfont.eot?#iefix') format('embedded-opentype'),
		 url('font/learningcurvepro/LearningCurve_OT-webfont.woff') format('woff'),
         url('font/learningcurvepro/LearningCurve_OT-webfont.ttf') format('truetype'),
         url('font/learningcurvepro/LearningCurve_OT-webfont.svg#learningcurvepro') format('svg');
}

/* On applique la même police à tout le texte */
*{
	font-family: trebuchet MS, serif;
	color: black;
}

body{
	background-image: url("images/nuages.jpeg");
	background-attachment: scroll;
}

h1{
	text-align: center;
	text-shadow: 0 0 40px Blue;
}

h2{
	color: DodgerBlue;
}

ul{
	list-style:none;
}

#intro{
	text-align: center;
	margin:0 15px 0 15px;
}

#tdm{
	text-align: left;
}

.connaissances{
	color: MidnightBlue ;
	font-style: italic;
	font-weight: bold;
	text-decoration: blink;
}

.image{
	text-align: center;
}

a, a:visited{
	text-decoration: none;
}

a:hover{
	font-weight: bold;
}

section, nav{
	background-color: Ivory;
	background-image:-moz-linear-gradient(top, Ivory , #f0f0ff);
	border-radius: 20px;
	padding: 20px;;
	z-index:1;
	margin:0 15px 0 15px;

}

section{
	width=150px;
	position:relative;
	right:0px;
	bottom:700px;
	top:0px;
}

nav{
	width=60px;
	position:relative;
	right:1px;
	bottom:700px;
	top:0px;
}

